<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <%- include('partials/header.ejs') %>

    <hr>

    <h1>Lista de usuários</h1>

    <ul>
        <% users.forEach((user)=>{ %>
            <li><%= user.name %> - <%= user.age %> - <%= user.email %> - 
                <a href="/edit?id=<%= user._id %>">[edit]</a> - 
                <a href="/remove/<%= user._id %>">[remove]</a>
            </li>
        <% }) %>
    </ul>

    <script src="js/main.js"></script>


    <%- include('partials/footer.ejs') %>

</body>
</html>